.appbar {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 20px 0;
  background-color: #fff;
}

.appbar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  color: var(--main-text-color);
  font-size: 1.4em;
}

.appForm {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.selectContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--main-text-color);
  border-radius: 20px;
  padding: 10px;
}

.selectContainer label {
  margin-right: 10px;
}

.selectContainer select {
  padding: 7px;
  border: 1px solid var(--main-text-color);
}

.appInput {
  width: 50%;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
  padding: 5px 15px;
}

.appInput:focus {
  outline-color: var(--secondary-color);
}

.searchButton {
  padding: 10px 15px;
  background-color: var(--main-text-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.searchButton:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}